---
type BreadcrumbItem = {
  name: string;
  href: string;
};

interface Props {
  items: BreadcrumbItem[];
}

const { items } = Astro.props as Props;
---
<nav aria-label="Хлебные крошки" class="container" style="padding-top:1rem;">
  <ol style="display:flex;gap:0.5rem;list-style:none;padding:0;margin:0;flex-wrap:wrap;">
    {items.map((item, index) => <li>{index < items.length - 1 ? <a href={item.href}>{item.name}</a> : <span>{item.name}</span>}</li>)}
  </ol>
</nav>
